*.swp
tmp/
aura/
aura-cloud.env
chart/charts/*
chart/Chart.lock
chart/environment-values/wlan-cloud-ucentral-deploy/
docker-compose/certs/websocket*pem
docker-compose/*_data
docker-compose/owls/*_data
docker-compose/deploy.conf
